<%# Jumbotron %>
<div class="mb-5 p-5 text-bg-dark rounded" style="height: 250px">
  <h1>Welcome to MyRecipes App</h1> 
  <p>This is the home page for Professional Ruby on Rails Developer Course on Udemy.</p> 
  <%= link_to "Sign up now!", "", class: "btn btn-outline-light mt-3" %>
</div>

<%# Cards %>
<div class="row">
  <div class="col-sm-4">
    <div class="card text-bg-light mb-3">
    <div class="card-header">Recipes</div>
      <div class="card-body">
        <h5 class="card-title">View Recipes as Guest User</h5>
        <p class="card-text">Browse and view recipes as a guest and Sign up later.</p>
        <%= link_to "Browse Recipe Listings", "", class: "btn btn-outline-secondary mt-3" %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-bg-light mb-3">
    <div class="card-header">Recipes</div>
      <div class="card-body">
        <h5 class="card-title">View Recipes as Guest User</h5>
        <p class="card-text">Browse and view recipes as a guest and Sign up later.</p>
        <%= link_to "Browse Recipe Listings", "", class: "btn btn-outline-secondary mt-3" %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-bg-light mb-3">
    <div class="card-header">Recipes</div>
      <div class="card-body">
        <h5 class="card-title">View Recipes as Guest User</h5>
        <p class="card-text">Browse and view recipes as a guest and Sign up later.</p>
        <%= link_to "Browse Recipe Listings", "", class: "btn btn-outline-secondary mt-3" %>
      </div>
    </div>
  </div>
</div>
