<footer class="text-center text-white fixed-bottom text-bg-dark">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">
    © 2022 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Shivangi Srivastava</a>
  </div>
  <!-- Copyright -->
</footer>
